@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}
body {
  font-family: "IBM Plex Sans", sans-serif;
  scroll-behavior: smooth;
}
.btn {
  padding: 12px 30px;
  border: none;
  border-radius: .375rem;
  transition: 0.15s ease-in;
}

.btn.btnmain {
  background: #1d4ed8;
}
.btn.btnmain:hover {
  background: #1e40af;
}
a {
  cursor: pointer;
  transition: 0.15s ease-in;
  text-decoration: underline;
  
}
a:hover {
  color: #1d4ed8;
}
h1 {
  font-size: 3.5rem;
  font-weight: 700;
}
h2 {
  font-size: 3rem;
  font-weight: 700;
}
h3 {
  font-size: 2.2rem;
  font-weight: 700;
}
h5 {
  font-weight: 700;
  font-size: 1.3rem;
}
h5 {
  font-size: 1.1rem;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 7rem;
}
.header {
  flex-direction: row;
  padding-block: 22px;
}
.STARTING_TEXT {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.STARTING_TEXT h2 {
  margin-bottom: 20px;
}
